.container{
    width: 80%;
    margin: auto;
    background-color: rgb(216, 239, 239);
    padding: 10px;
}

.post{
    padding: 10px;
    border-bottom: 1px dotted gray;
    display: flex;
    justify-content: space-between;
}

.comment{
    padding: 10px;
    background-color: rgb(217, 252, 252);
}